body {
    margin: 0;
    padding: 0;
}

.container {
    height: 80vh;
    width: 100%;
    background-image: url(img/sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.highway {
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(img/road.png);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 10s linear infinite;
}

@keyframes highway {
    100% {
        transform: translateX(-3400px);
    }
}

.buildings {
    height: 250px;
    width: 500%;
    background-image: url(img/city.png);
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: buildings 20s linear infinite;
}

@keyframes buildings {
    0% {
        transform: translateX(-1400px);
    }
}

.car {
    width: 400px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.car img {
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car {
    100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }

    0% {
        transform: translateY(-2px);
    }
}

.wheel {
    left: 50%;
    bottom: 178px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.wheel img {
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}

.back-wheel {
    position: absolute;
    left: -137px;
    top: 27px;
}

.font-wheel {
    position: absolute;
    left: 67px;
    top: 27px;
}

@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}